$breakpoints = {
  'xs' :  0,
  'sm' : 544px,
  'md' : 768px,
  'lg' : 940px
}
$columns = 12
$gutters = 30

$font-raleway = 'Raleway'
$font-merriweather = 'Merriweather'
$font-museo-sans = 'Museo Sans'

$color-white-30 = rgba(255, 255, 255, .3)
$color-black = #202020
$color-black-two = #24211f
$color-black-60 = rgba(32, 32, 32, .6)
$color-black-60-two = rgba(56, 56, 56, .6)
$color-black-50 = rgba(56, 56, 56, .5)
$color-faded-red = #d3282f
$color-pale-red = #df4136
$color-lipstick = #c71532
$color-tomato = #e94d42
$color-sap-green = #4b8f13
$color-kiwi-green = #88e03f
$color-apple-green = #60b21d
$color-silver = #e1e6e6
$color-pale-grey = #ebeff1
$color-pinkish-grey = #c5c5c5
$color-charcoal = #232524
